{% extends 'father/index.html' %}
{% load static %}
{% block h_title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密码</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
{% endblock %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">忘记密码</a>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <div style="height: 80px;"></div>
    <form action="{% url 'user:修改' %}" method="post">
        {% csrf_token %}
        {% if data %}
            <input type="text" name="account" placeholder="{{ errors.account.0 }}" class="login-name">
            <input type="password" name="password1" placeholder="{{ errors.password1.0 }}" class="login-password">
            <input type="password" name="password2" placeholder="{{ errors.password2.0 }}" class="login-name">
        {% else %}
            <input type="text" name="account" placeholder="请输入手机号" class="login-name">
            <input type="password" name="password1" placeholder="请输入密码" class="login-password">
            <input type="password" name="password2" placeholder="确认密码" class="login-name">
        {% endif %}
        <input type="submit" class="login-btn" value="确认修改">
    </form>
{% endblock %}
