{% extends 'father/index.html' %}
{% load static %}
{% block h_css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        .list-price {
            background: url({% if order == 2 %}{% static 'images/order-bot.png' %}
            {% elif order == 3 %}{% static 'images/order-top.png' %}
            {% else %}{% static 'images/order.png' %}
            {% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }
    </style>
{% endblock %}

{% block content %}

    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">
            <form action="/search/" method="get">
                <input type="text" name="q" value="" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
                <input type="submit" class="cate-btn" value=""/>
            </form>
        </div>
    </header>
    <div style="height: 49px;"></div>
    <ul class="list-nav">
        <li {% if order == 0 %}class="current"{% endif %}>
            <a href="{% url 'com:商店' id 0 %}">综合</a>
        </li>
        <li {% if order == 1 %}class="current"{% endif %}>
            <a href="{% url 'com:商店' id 1 %}">销量</a>
        </li>
        <li {% if order == 2 %}class="current"{% endif %}>
            <a href="{% url 'com:商店' id 2 %}"><i class="list-price">价格</i></a>
        </li>
        <li {% if order == 4 %}class="current"{% endif %}>
            <a href="{% url 'com:商店' id 4 %}">新品</a>
        </li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for cla in clas %}
                <li {% if id == cla.pk %}class="current"{% endif %}>
                    <a href="{% url 'com:商店' cla.pk order %}">{{ cla.class_name }}</a>
                </li>
            {% endfor %}
        </div>
        <div class="list-right">
            <ul class="list-pro">
                {% for good in Good %}
                    <li>
                        <a href="{% url 'com:详情' good.pk %}">
                            <img src="{{ MEDIA_URL }}{{ good.Goods_sku_Logo }}" class="list-pic"/>
                        </a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url 'com:详情' good.pk %}">{{ good.Goods_sku_name }}</a></div>
                            <div class="am-gallery-desc">￥{{ good.Goods_sku_Price }}</div>
                            <p>销量：{{ good.Goods_sku_Sellnum }}</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" class="text_box" name="" type="text" value="0"/>
                                <span style="display:none" class="id">{{ good.pk }}</span>
                                <a class="increase">+</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if Good.has_previous %}
                <a href="?pig={{ Good.previous_page_number }}" class="am-btn">上一页</a>
            {% endif %}
            {% if Good.has_next %}
                <a href="?pig={{ Good.next_page_number }}" class="am-btn">下一页</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <a href="{% url 'shop:购物车' %}">
            <div class="fix-bot-cart">
                <i id="all_num"></i>
            </div>
        </a>
        <a href="#" class="list-js">去结算</a>
        <a href="#" class="list-jsk">一键快购</a>
    </div>
    {% csrf_token %}
{% endblock %}

{% block food_jss %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                if (current_num > 0) {
                    self.siblings(".decrease").fadeIn();
                    self.siblings(".text_box").fadeIn();
                }
                //设置数量
                var number = 1;
                //获取sku id;
                var sku_id = parseInt(self.siblings('span').html());
                //console.debug(sku_id);
                var v2 = $("input[name='csrfmiddlewaretoken']").val();
                $.ajax({
                    type: 'post',
                    url: "{% url 'shop:商品页add' %}",
                    data: {"sku_id": sku_id, 'number': number, "csrfmiddlewaretoken": v2},
                    dataType: "json",
                    success: function (data) {
                        if (data.age == 0) {
                            var over = confirm("尚未登录,是否跳转登录页面");
                            if (over) {
                                location.href = "{% url 'user:登录' %}";  // ?next= url 'com:商店' id sku.pk
                            }
                        } else if (data.age == 1) {
                            console.debug(data.all_num);
                            $("#all_num").text(data.all_num);
                        }
                    }
                });
                self.siblings('input').val(current_num);
            })
        });

        $('.decrease').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            //设置数量
            var number = -1;
            //获取sku id;
            var sku_id = parseInt(self.siblings('span').html());
            //console.debug(sku_id);
            var v2 = $("input[name='csrfmiddlewaretoken']").val();
            $.ajax({
                type: 'post',
                url: "{% url 'shop:商品页add' %}",
                data: {"sku_id": sku_id, 'number': number, "csrfmiddlewaretoken": v2},
                dataType: "json",
                success: function (data) {
                    if (data.age == 0) {
                        var over = confirm("尚未登录,是否跳转登录页面");
                        if (over) {
                            location.href = "{% url 'user:登录' %}";  // ?next= url 'com:商店' id sku.pk
                        }
                    } else if (data.age == 1) {
                        console.debug(data.all_num);
                        $("#all_num").text(data.all_num);
                    }
                }
            });
            if (current_num > 0) {
                current_num -= 1;
                if (current_num < 1) {
                    self.fadeOut();
                    self.siblings(".text_box").fadeOut();
                }
                self.siblings('input').val(current_num);
            }
        });
        $(function () {
            if ("{{ order }}" == 2) {
                $(".list-price").parent("a").attr('href', "{% url 'com:商店' id 3%}");
            } else if ("{{ order }}" == 3) {
                $(".list-price").parent("a").attr('href', "{% url 'com:商店' id 2 %}");
            }
        })
    </script>
{% endblock %}


