{% extends 'father/index.html' %}
{% load static %}
{% block h_css %}
    <style>
        .am-slider-default .am-control-nav {
            text-align: center;
        }

        .am-slider-default .am-control-nav li a.am-active {
            background: #cb2527;
        }

        .am-slider-default .am-control-nav li a {
            border: 0;
            width: 10px;
            height: 10px;
        }
    </style>
{% endblock %}
{% block h_js %}
    <script>
        function changeImage() {
            document.getElementById("imgflag").src = "images/redherat.png";
        }
    </script>
{% endblock %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">商品详情</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <!--图片轮换-->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {% for s in sku.photoalbum_set.all %}
                <li><img src="{{ MEDIA_URL }}{{ s.Goods_Img_url }}"/></li>
            {% endfor %}
        </ul>
    </div>
    <div class="detal-info" style="position: relative; width: 100%;">
        <p>{{ sku.Goods_spu_id.Goods_spu_name }}&emsp;{{ sku.Goods_sku_name }}</p>
        <h2>商城价：
            <span>￥
                <span id="price">{{ sku.Goods_sku_Price }}</span>
                /{{ sku.Goods_sku_Unitinfo.class_unit }}
            </span>
        </h2>
        <div class="heart">
            <img src="{% static 'images/herat.png' %}" width="25" id="imgflag" onclick="changeImage()"/>
            <p>收藏</p>
        </div>
    </div>
    <div class="d-amount">
        <h4>数量：</h4>
        <div class="d-stock">
            <a class="decrease">-</a>
            <input id="num" readonly="" class="text_box" name="" type="text" value="1"/>
            <input id="id" type="hidden" value="644">
            <a class="increase">+</a>
            <span id="dprice" class="price" style="display:none"> 36</span>
        </div>
    </div>
    <div class="d-amount" style="position: relative; width: 100%;">
        <span>总价:&emsp;<span id="sum" style="font-size: 1.25em; color: #cb2527"></span>&emsp;元</span>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <div class="am-tabs detail-list" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">商品详情</a></li>
            <li><a href="#tab2">商品评论</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active detail " id="tab1">
                <p>{{ sku.Goods_sku_intro|safe }}</p>
                <img src="{{ sku.Goods_sku_Logo.url }}"/>
            </div>
            <div class="am-tab-panel am-fade detail " id="tab2">
                <ul class="comment-list">
                    <li class="current"><a href="">全部</a></li>
                    <li><a href="">好评（20）</a></li>
                    <li><a href="">中评（5）</a></li>
                    <li><a href="">差评（0）</a></li>
                </ul>
                <ul class="comment-pic">
                    <li>
                        <div class="tit">
                            <img src="{% static 'images/tx.png' %}" class="tx"/>
                            <span>songke2014</span>
                            <i> [2016-01-01]</i>
                        </div>
                        <div class="comment-con">
                            买了些给家人，都说不错！
                        </div>
                    </li>
                    <li>
                        <div class="tit">
                            <img src="{% static 'images/tx.png' %}" class="tx"/>
                            <span>songke2014</span>
                            <i> [2016-01-01]</i>
                        </div>
                        <div class="comment-con">
                            买了些给家人，都说不错！
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <input type="hidden" name="sku_id" value="{{ sku.pk }}">
{% endblock %}


{% block footer %}
    <!--底部-->
    <div style=" height: 55px;"></div>
    <ul class="fix-shopping">
        <li><a href="javascript:" class="join">加入购物车</a></li>
        <li><a href="#" class="imm-buy">立即购买</a></li>
    </ul>
{% endblock %}


{% block food_jss %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                self.siblings('input').val(current_num);
            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 1) {
                    current_num -= 1;
                    self.siblings('input').val(current_num);
                }
            })
        });
        $(function () {
            $('.join').on('click', function () {
                {# 获取数量#}
                var number = $("#id").val();
                var v2 = $("input[name='csrfmiddlewaretoken']").val();
                console.debug(number);
                $.ajax({
                    type: 'post',
                    url: "{% url 'shop:购物' %}",
                    data: {'sku_id': {{ sku.pk }}, 'number': number, "csrfmiddlewaretoken": v2},
                    dataType: "json",
                    success: function (data) {
                        if (data.age == 0) {
                            var over = confirm("尚未登录,是否跳转登录页面");
                            if (over) {
                                location.href = "{% url 'user:登录' %}?next={% url 'com:详情' sku.pk %}"
                            }
                        } else if (data.age == 1) {
                            confirm("商品数量尚未选择")
                        } else if (data.age == 2) {
                            var com = confirm("参数错误");
                            if (com) {
                                location.href("{% url 'com:商店' 1 0 %}")
                            }
                        } else if (data.age == 3) {
                            alert("添加购物车和成功");
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}