{% extends 'father/index.html' %}
{% load static %}
{% block food_js %}
    <script type="text/javascript">
        $(function () {
            $('#beginTime').date();
            $('#endTime').date({theme: "datetime"});
        });
    </script>
{% endblock %}
{% block h_js %}

    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/iscroll.js' %}"></script>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div style="height: 49px;"></div>
    <ul class="order-detail">
        <li><span>订单名称：</span>电子产品</li>
    </ul>
    <h5 class="order-tit">收货人信息</h5>
    <div class="order-name">
        <a href="javascript:">
            <p class="order-tele">{{ order.UserName }}&nbsp;&nbsp;&nbsp;{{ order.Telephone }}</p>
            <p class="order-add">
                {{ order.AddressKey.hcity }}{{ order.AddressKey.hproper }}{{ order.AddressKey.harea }}</p>
        </a>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <h5 class="order-tit">订单信息</h5>
    <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
        {% for one in order.ordersgoods_set.all %}
            <li>
                <img src="{{ MEDIA_URL }}{{ one.goodsSku.Goods_sku_Logo }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">
                        {{ one.goodsSku.Goods_spu_id.Goods_spu_name }}{{ one.goodsSku.Goods_sku_name }}</div>
                    <div class="order-price">
                        ￥{{ one.goodsPrice }}<i>X{{ one.goodsNum }}</i>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：</span>
            <i>￥{{ order.orderPrice }}</i>
        </li>
        <li class="order-infor-first">
            <span>运输方式：</span>
            <i>{{ order.transitKey }}</i>
        </li>
    </ul>
    <h5 class="order-tit">支付方式</h5>
    <ul class="pay-style">
        <li>
            <img src="{% static 'images/zhi.png' %}" width="50"/>
            <span>
                    <p>支付宝</p>
                    <p class="descript">推荐有支付宝账号的用户使用</p>
                </span>
            <label class="am-radio-inline">
                <input type="radio" checked="checked" name="radio10" value="1" data-am-ucheck>
            </label>
        </li>
        <li>
            <img src="{% static 'images/wei.png' %}" width="50"/>
            <span>
                <p>微信支付</p>
                <p class="descript">推荐安装微信5.0及以上版本的使用</p>
             </span>
            <label class="am-radio-inline">
                <input type="radio" name="radio10" value="1" data-am-ucheck>
            </label>
        </li>
    </ul>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>
    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥{{ price }}</span>
        </div>
        <a href="" class="js-btn">确认支付</a>
    </div>
{% endblock %}


{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'com:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="javascript:" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shop:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url 'add:订单中心' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

