{% extends 'father/index.html' %}
{% load static %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">确认订单</a>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <div style="height: 49px;"></div>
    <form action="" id="form">
        <h5 class="order-tit">收货人信息</h5>
        <div class="order-name">
            {% if Address %}
                <input type="hidden" name="address" value="{{ Address.id }}">
                <a href="{% url 'add:地址' %}">
                    <p class="order-tele">
                        姓名:&nbsp;{{ Address.userName }}&nbsp;&nbsp;电话:&nbsp;{{ Address.telephone }}</p>
                    <p class="order-add">
                        {{ Address.hcity }}
                        {{ Address.hproper }}
                        {{ Address.harea }}
                        {{ Address.street }}
                    </p>
                </a>
                <i class="am-icon-angle-right"></i>
            {% else %}
                <a href="address.html">+新建收货地址</a>
                <i class="am-icon-angle-right"></i>
            {% endif %}
        </div>
        <div style="background: #eee; height: 10px;"></div>
        <h5 class="order-tit">确认订单信息</h5>
        <ul class="shopcart-list" style="padding-bottom: 0;">
            {% for Good in Goods %}
                <li>
                    <input type="hidden" name="sku_id" value="{{ Good.id }}">
                    <img src="{{ MEDIA_URL }}{{ Good.Goods_sku_Logo }}" class="shop-pic"/>
                    <div class="order-mid">
                        <div class="tit">{{ Good.Goods_spu_id.Goods_spu_name }}{{ Good.Goods_sku_name }}</div>
                        <div class="order-price">￥{{ Good.Goods_sku_Price }} <i>X{{ Good.count }}</i></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div style="background: #eee; height: 10px;"></div>
        <ul class="order-infor">
            <li class="order-infor-first">
                <span>商品总计：</span>
                <i>￥<span id="allprice">{{ allprice }}</span></i>
            </li>
            <li class="order-infor-first">
                <span>运输方式：</span>
                <i>
                    <select name="carriage" id="Charge">
                        {% for carr in carriage %}
                            <option value="{{ carr.id }}"
                                    price="{{ carr.transitCharge }}">{{ carr.transit }}-￥{{ carr.transitCharge }}</option>
                        {% endfor %}
                    </select>
                </i>
            </li>
            <li class="order-infor-first">
                <a href="">积分抵费></a>
            </li>
            <li class="order-infor-first">
                <a href="">选择优惠券></a>
            </li>
        </ul>
        {% csrf_token %}
    </form>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>
    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span id="reality">￥188</span>
        </div>
        <a href="javascript:" class="js-btn" id="refer">提交订单</a>
    </div>
{% endblock %}


{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'com:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shop:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url 'add:订单中心' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block food_jss %}
    <script>
        $(function () {
            function transitCharge() {
                //获取商品总价格
                var allprice = $("#allprice").text();
                //获取选中下拉框的自定义属性的值
                var transitCharge = $("#Charge").find(":selected").attr('price');
                //计算实际支付价格
                var number = parseFloat(allprice) + parseFloat(transitCharge);
                $("#reality").text(number)
            }

            transitCharge();
            //当下拉框改变选中值的时候,价格跟着一起改变
            $('#Charge').on('change', function () {
                transitCharge()
            });

            //传送确认订单必须要的地址id, 商品id, 运输方式id
            $('#refer').on('click', function () {
                //获取form表单里面的值
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: '{% url 'add:保存' %}',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.age == 0) {
                            location.href = "{% url 'add:提交' %}?orderNum=" + data.orderNum
                        } else {
                            alert("订单创建失败")
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}