{% extends 'father/index.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
    {% if query %}
        <ul class="list-pro" style="margin-top: 20px">
            {% for result in page %}
                <li>
                    <a href="{% url 'com:详情' result.object.pk %}">
                        <img src="{{ MEDIA_URL }}{{ result.object.Goods_sku_Logo }}" class="list-pic1"/>
                    </a>
                    <div class="shop-list-mid" style="width: 65%;">
                        <div class="tit">
                            <a href="{% url 'com:详情' result.object.pk %}">
                                {{ result.object.Goods_spu_id.Goods_spu_name }}&emsp;{{ result.object.Goods_sku_name }}
                            </a>
                        </div>
                        <div class="am-gallery-desc">￥{{ result.object.Goods_sku_Price }}</div>
                        <p>销量：{{ result.object.Goods_sku_Sellnum }}{{ result.object.Goods_sku_Unitinfo.class_unit }}</p>
                    </div>
                </li>
            {% empty %}
                <li>没有找到您搜索的产品！</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

