{% extends 'father/index.html' %}
{% load static %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">购物车</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <!--购物车空的状态-->
    {% if goods %}
        <ul class="shopcart-list">
            {% for good in goods %}
                <li>
                    <label class="am-checkbox am-warning">
                        <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
                    </label>
                    <a href="{% url 'com:详情' good.pk %}">
                        <img src="{{ MEDIA_URL }}{{ good.Goods_sku_Logo }}" class="shop-pic"/>
                    </a>
                    <div class="shop-list-mid">
                        <div class="tit">
                            <a href="{% url 'com:详情' good.pk %}">{{ good.Goods_spu_id.Goods_spu_name }}&emsp;{{ good.Goods_sku_name }}</a>
                        </div>
                        <b class="shop-list-price">￥<span class="price">{{ good.Goods_sku_Price }}</span></b>
                    </div>
                    <div class="list-cart1">
                        <div class="d-stock">
                            <a class="decrease">-</a>
                            <input readonly="" class="text_box num" name="" type="text" value="{{ good.count }}">
                            <span style="display:none">{{ good.pk }}</span>
                            <a class="increase">+</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="login-logo">
            <img src="{% static 'images/care.png' %}">
            <p>亲、您的购物车还是空空的哦，快去装满它!</p>
            <a href="{% url 'com:首页' %}" class="goshopping">前去逛逛</a>
        </div>
    {% endif %}


    <div class="shop-fix">

        <label class="am-checkbox am-warning">
            <input type="checkbox" id="chack_all" checked="checked" value="" data-am-ucheck checked>
        </label>
        <a class="del">全选</a>
        <a href="#" class="js-btn">去结算</a>
        <div class="js-text">
            <P>合计：<b id="one">{{ price }}</b></P>
            <p class="js-car">免费配送</p>
        </div>
        {% csrf_token %}
    </div>

{% endblock %}

{% block footer %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'com:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shop:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{#// parsint#}
{% block food_jss %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                self.siblings('input').val(current_num);
                {# 获取数量#}
                //设置数量
                var number = 1;
                //获取sku id;
                var sku_id = parseInt(self.siblings('span').html());
                console.debug(sku_id);
                var v2 = $("input[name='csrfmiddlewaretoken']").val();
                $.ajax({
                    type: 'post',
                    url: "{% url 'shop:商品页add' %}",
                    data: {"sku_id": sku_id, 'number': number, "csrfmiddlewaretoken": v2},
                    dataType: "json",
                    success: function (data) {
                        if (data.age == 0) {
                            var over = confirm("尚未登录,是否跳转登录页面");
                            if (over) {
                                location.href = "{% url 'user:登录' %}";  // ?next= url 'com:商店' id sku.pk
                            }
                        } else if (data.age == 1) {
                            talou_price()
                        }
                    }
                });
                //$("#one").text(price2.toFixed(2));
            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 0) {
                    current_num -= 1;
                    self.siblings('input').val(current_num);
                    {#  减少数量 #}
                    //设置数量
                    var number = -1;
                    //获取sku id;
                    var sku_id = parseInt(self.siblings('span').html());
                    //console.debug(sku_id);
                    var v2 = $("input[name='csrfmiddlewaretoken']").val();
                    $.ajax({
                        type: 'post',
                        url: "{% url 'shop:商品页add' %}",
                        data: {"sku_id": sku_id, 'number': number, "csrfmiddlewaretoken": v2},
                        dataType: "json",
                        success: function (data) {
                            if (data.age == 0) {
                                var over = confirm("尚未登录,是否跳转登录页面");
                                if (over) {
                                    location.href = "{% url 'user:登录' %}";  // ?next= url 'com:商店' id sku.pk
                                }
                            } else if (data.age == 1) {
                                talou_price()
                            }
                        }
                    });
                    if (current_num == 0) {
                        // 删除 empty(); $("p").parent(".selected"); $("p").remove(".hello");
                        self.parents("li").remove();
                    }
                }
            });

            function talou_price() {
                // 获取li里面的表单
                var checkbox = $(".shopcart-list").find(":checked");
                //初始价格0.00
                var new_price = 0;
                //遍历表单,获取指定数据
                $.each(checkbox, function (i, e) {
                    //获取父类li
                    var li = $(e).parents('li');
                    //获取li里面的价格,数量
                    var price = li.find(".price").text();
                    var number = li.find(".num").val();
                    new_price += price * number
                });
                $("#one").text(new_price.toFixed(2))
            }

            $("#chack_all").on('change', function () {
                //获取复选框状态
                var por = $(this).prop("checked");
                //console.debug(por)
                //更改商品复选框状态
                $(".shopcart-list").find(':checkbox').prop('checked', por);
                talou_price();
            });

            $(".shopcart-list").find(':checkbox').on('change', function () {
                //console.debug($(".shopcart-list").find(':checkbox').length == $(".shopcart-list").find(':checked').length);
                if ($(".shopcart-list").find(':checkbox').length == $(".shopcart-list").find(':checked').length) {
                    $("#chack_all").prop("checked", true);
                } else {
                    $("#chack_all").prop("checked", false);
                }
                talou_price();
            });
        })
        ;
    </script>
{% endblock %}

